.container {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  padding: 2rem 2rem 5rem;
  gap: 4rem;
}

@media (min-width: 640px) {
  .container {
    padding: 5rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-row-start: 2;
  align-items: center;
}

@media (min-width: 640px) {
  .main {
    align-items: flex-start;
  }
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
